{% extends 'bootstrap/base.html' %}

<!-- Styles Block -->
{% block styles %} 
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
<link href="https://fonts.googleapis.com/css?family=Yeseva+One:700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
 crossorigin="anonymous" referrerpolicy="no-referrer" />

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/css/bootstrap.min.css" integrity="sha512-6KY5s6UI5J7SVYuZB4S/CZMyPylqyyNZco376NM2Z8Sb8OxEdp02e1jkKk/wZxIEmjQ6DRCEBhni+gpr9c4tvA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

<!-- Navbar -->
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
