
{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}


{% block content %}


<div class="container">


  <br>
  <br>

  <div class="card bg-dark text-white">
    <img src="../static/photos/pitch03.jpg" height="250px" width="200px"  class="card-img" alt="...">
    <div class="card-img-overlay">
      <h2 class="card-title">One-Minute-Pitch</h2>
      <p style="font-size:20px;color:dark text-align-center;">You only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?</p>
      <p class="card-text">Created with love by Musah Kings</p>
    </div>
  </div>

  <br>
  <br>

  
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-business-tab" data-bs-toggle="pill" data-bs-target="#business" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Business Pitches</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-entertainment-tab" data-bs-toggle="pill" data-bs-target="#entertainment" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Entertainment Pitches</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-lyrics-tab" data-bs-toggle="pill" data-bs-target="#lyrics" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Lyrics Pitches</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-advertisement-tab" data-bs-toggle="pill" data-bs-target="#advertisement" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Advertisement Pitches</button>
    </li>
     <li class="nav-item" role="presentation">
      <button class="nav-link btn-outline-dark dark" id="pills-relationship-tab" data-bs-toggle="pill" data-bs-target="#relationship" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Relationship Pitches</button>
    </li>
  </ul>
  <div class="tab-content " id="pills-tabContent">
    <div class="tab-pane fade show active" id="business" role="tabpanel" aria-labelledby="pills-home-tab"> {{ macro.display(businesspitch) }}</div>
    <div class="tab-pane fade" id="entertainment" role="tabpanel" aria-labelledby="pills-profile-tab">{{ macro.display(entertainmentpitch) }}</div>
    <div class="tab-pane fade" id="lyrics" role="tabpanel" aria-labelledby="pills-contact-tab"> {{ macro.display(lyricspitch) }}</div>
    <div class="tab-pane fade" id="advertisement" role="tabpanel" aria-labelledby="pills-contact-tab">  {{ macro.display(advertisementpitch) }}</div>
    <div class="tab-pane fade" id="relationship" role="tabpanel" aria-labelledby="pills-contact-tab">   {{ macro.display(relationshippitch) }}</div>
  </div>

  
    <hr>






{% endblock %}